<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮箱示例</title>
</head>
<body>
<p>欢迎你，啥俗话算术阿萨的啊的护肤和腐恶UI发hi伍尔夫UI和覅建安费教大家肯德基卡德加阿贾克斯大空间大看见的阿达的空间啊极大的假按揭大家好dak

    ad哈加括号的假按揭坎大哈集卡活动集卡活动建卡户健康大
    阿斯加德看垃圾卡拉斯的结案率
    氨基酸的看垃圾抵抗力散
    按时建档立卡吉林省的卡是的
    爱上的骄傲垃圾啊连接的
    啦d撒娇的风口浪尖阿喀琉斯的骄傲
    氨基酸溜达监考老师
    阿迪覅地
    绝地反击殴打
    酒叟的
     手动平凡就是
    、爱上的皮肤
    阿达缴费票据是否
     奥菲的就覅
     贾东平飞机上的就覅欧式机的
    就视频到付件破三等奖佛菩萨的f
    苏东坡副书记的批发商
    水电费口舌丹佛斯地方
    水电费水平的佛手四点出发是大V加十分VS
    时代峰峻搜的放假哦哦
    时代峻峰山东福克斯颇丰


    <span style="color: red;" th:text="${username}"></span></p>

</body>
</html>